$red: #ef3340;

$primary: #e50354;
$link: #ff6f61;
// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;

$track-act: #6c63ff;
$track-empower: #f4313f;
$track-influence: #a8003d;
$track-transform: #4c0047;

$greyish: #757a8a;

$family-sans-serif: Avenir, Helvetica, Arial, sans-serif;
$family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

$navbar-height: 3.75rem;
// $navbar-item-hover-background-color: $scheme-main-bis;
$navbar-item-active-background-color: #fef2f6;
$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;

$footer-padding: 1.5rem 1.5rem 2.5rem;

@import '~bulma/sass/utilities/_all.sass';

@mixin insetInlineStart($value) {
  &:dir(ltr) {
    left: $value;
  }
  &:dir(rtl) {
    right: $value;
  }
}

@mixin insetInlineEnd($value) {
  &:dir(ltr) {
    right: $value;
  }
  &:dir(rtl) {
    left: $value;
  }
}
