$cc-red: #ef3340;
$cc-coral: #ff6f61;
$cc-purple: #6c63ff;
$cc-electric-blue: #5508d3;
$cc-green: #48c774;
$cc-light-blue: #7692ff;
$cc-dark-blue: #091540;
$cc-black: #252525;

$cc-lightestgrey: #f4f4f4;
$cc-lightergrey: #e6e6e6;
$cc-darkestgrey: #1e1e1e;
$cc-bluegrey: #757a8a;
$cc-pink: #e50354;

$red: $cc-red;

$primary: $cc-red;
$link: $cc-coral;

// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;

$track-official: #556183;
$track-act: $cc-coral;
$track-empower: $cc-light-blue;
$track-influence: #d27fcc;
$track-transform: #e50354;

$navy: #2c3242;

$greyish: #757a8a;

// $section-headings-coloured: #6c63ff;

$family-sans-serif: acumin-pro, Avenir, -apple-system, system-ui,
  BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

$navbar-height: 3.5rem;

$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;

$footer-padding: 1.5rem 1.5rem 2.5rem;

$z-cookies: 50;
$z-appwrapper-tabbar: 20;
$z-sessions-tabs: 10;

// Buttons
$button-padding-horizontal: 1.5em !default;

// Radius
$radius: 8px;
$radius-small: 6px;

// Sizes
$size-6: 0.9rem;

// Layout
$tabbar-width: 5.5rem;

// Controls
.control .is-small {
  &.select,
  &.select select {
    height: 36px;
  }
  &.input,
  &.input input {
    height: 36px;
  }
}

@import '~bulma/sass/utilities/_all.sass';

@mixin insetInlineStart($value) {
  &:dir(ltr) {
    left: $value;
  }
  &:dir(rtl) {
    right: $value;
  }
}

@mixin insetInlineEnd($value) {
  &:dir(ltr) {
    right: $value;
  }
  &:dir(rtl) {
    left: $value;
  }
}

@mixin appPageFlexFillChild() {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: flex;
  flex-direction: column;
}
